<html>
    <head>
        <title>Blog Taveira</title>
    </head>
    <body>
        <div>
            <h1>
                <a href="/">Blog Taveira</a>
            </h1>
        </div>

        <div>
            <p>publicado: 21/09/2023, não interessa a hora vacilão</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>sla qualquer coisa</p>
        </div>

        <div>
            <p>publicado: 21/09/2023</p>
            <h2><a href="">Criei um site</a></h2>
            <p>venci na vida</p>
        </div>
    </body>
</html>